body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-size: cover;
    background-image: url("Blur-1.png");
}

div {
    display: inline-block;
    width: 30%;
    min-width: 200px;
    margin: 20px;
    background-color: rgba(240, 240, 240, .4);
    border-radius: 20px;
    max-height: 200px;
    float:left;
}

h1 {
    margin-top: 30px;
    color: #183E5C;
    font-size: 36px;
}

div.inline {
    height: 100%;
    padding-top: 30px;
}

h3 {
    font-size: 26px;
    color: #28262C;
}

.current {
    color: slategrey;
}

.current .colloquial {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.humidity::after {
    content: "%";
}

.temperature::after {
    content: "°F";
}

h4 {
    font-size: 20px;
}